body {
    max-width: 600px;
    margin: 0 auto;
}

.one {
    background: pink;
    border: 3px solid blue;
    /* CHANGE ME  */
    /* Done */
    padding: 32px;
    margin: 12px;
}

.two {
    background: lightblue;
    border: 3px solid purple;
    /* CHANGE ME */
    /* Done */
    margin-bottom: 48px;
}

.three {
    background: peachpuff;
    border: 3px solid brown;
    width: 200px;
    /* CHANGE ME */
    /* Done */
    padding: 32px;
    margin-left: 332px;
}